<div class="options">
  <table>
    <thead>
      <tr>
        <th>商祺会</th>
        <th>酒店加盟</th>
        <th>关于开元</th>
      </tr>
      <tr>
        <td><a href="#">会员简介</a></td>
        <td><a href="#">加盟政策</a></td>
        <td><a href="#">开元简介</a></td>
      </tr>
      <tr>
        <td><a href="#">会员章程</a></td>
        <td><a href="#">在线申请</a></td>
        <td><a href="#">核心承诺</a></td>
      </tr>
      <tr>
        <td><a href="#">合作伙伴</a></td>
        <td><a href="#"></a></td>
        <td><a href="#">联系我们</a></td>
      </tr>
      <tr>
        <td><a href="#"></a></td>
        <td><a href="#"></a></td>
        <td><a href="#">投资者关系</a></td>
      </tr>
    </thead>
  </table>
</div>
<div class="altar-bar">
  <div class="altar-bar-wrap">
    <div class="lf">CopyRight @ 2010-2019开元酒店集团版权所有 浙ICP备 10000474号</div>
    <div class="rg">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-guohui"></use>
      </svg>
      天朝网安备 332985xxoo675625号
    </div>
  </div>
</div>